# Introduction to Data Science
## Project1 - Part1
Student ID: 003049986 <br>
Student Name: Kaylah Benton

**Q1 (a)** <br>
An integer in Python is a whole number, positive or negative no decimals. An example is 4. <br> A float is a value that can have whole numbers as well as decimals. An example is 4.33. <br> A string is text, characters strung together. An example is, 'My name is Kaylah'. <br> Boolean can represent True or False. An example of this is when sorting, you can do (sorted, reverse=True) to make the numbers go in descending order. <br> **Q2 (a)** <br> Categorical data consists of values that represent distinct groups or categories rather than numerical quantities. An example is nominal or unordered data; variable data which is unordered ex: green, red, blue. Numerical data is based on numerical information. An example of this is scores for tests (ex: 91, 95, 100). <br> **Q2 (b)** <br>
Discrete Data is countable data ex: number of children <br>
Continuous Data is data that is measurable ex: height, width, length.
<br> **Q3**

# Introduction to Data Science
**Data Science** is the field of extracting insights from *data*. 
<br> <br> Main Components:
* Statistics
* Programming
* Domain Knowledge

**Q4**

In [1]:
print("Welcome to Data Science!")
name="Kaylah"
age=20
height=60.7
print("Name:",name, "Age:", age,"Height(inches):",height)
print(type(name))
print(type(age))
print(type(height))

age=float(20)
print(age)
print(type(age))

Welcome to Data Science!
Name: Kaylah Age: 20 Height(inches): 60.7
<class 'str'>
<class 'int'>
<class 'float'>
20.0
<class 'float'>

##### x = input("What is your name? ")
y = int(input("What is your favorite number? "))

print(f"\nHello {x}, your favorite number is {y}!\n")

square = y ** 2
print(f"The square of your favorite number is {square}.\n")

**Q6**

In [3]:
s = str('Intro to Data')
char_list = list(s)

print(char_list)
print(type(char_list))

first_four = s[:4]   
last_three = s[-3:] 

print("First 4 characters:", first_four)
print("Last 3 characters:", last_three)

char_list.append("Python")

print(char_list)

['I', 'n', 't', 'r', 'o', ' ', 't', 'o', ' ', 'D', 'a', 't', 'a']
<class 'list'>
First 4 characters: Intr
Last 3 characters: ata
['I', 'n', 't', 'r', 'o', ' ', 't', 'o', ' ', 'D', 'a', 't', 'a', 'Python']

**Q7**

In [4]:
student = {
    "Alex": 95,
    "Sydney": 100,
    "Payton": 97
}

print(student)

student["Kaylah"] = 90
student["Payton"]=100

print(student)

{'Alex': 95, 'Sydney': 100, 'Payton': 97}
{'Alex': 95, 'Sydney': 100, 'Payton': 100, 'Kaylah': 90}

**Q8**

In [5]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number:  5

Positive