# 1. Markdown (Week 1 & 2 skills):
## My First Data Science Notebook
Data science matters today because we live in a world filled with data from social media, businesses, healthcare, and more. It helps us make sense of that information and turn it into useful insights for decision-making. Companies use data science to improve products, predict trends, and solve real-world problems. As a college student, I see it as a powerful tool that connects technology with everyday life.

# 2. Python Basics (Week 2 skills):

In [1]:
name='Kaylah'
print('Hello my name is', name) 
print('Data science is exciting!')

Hello my name is Kaylah
Data science is exciting!

# 3. Variables & Data Types (Week 3 skills):

In [2]:
name=str('Kaylah Benton')
age=int(20)
study_hours=float(25)
print('String:', name, 'Integer:', age, 'Float', study_hours)
age=float(20)
study_hours=str(25)
print(age, study_hours)

String: Kaylah Benton Integer: 20 Float 25.0
20.0 25

# Dictionary with List

In [3]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Subject": ["Math", "Science", "English"],
    "Score": [85, 90, 78]
}

print(data)

{'Name': ['Alice', 'Bob', 'Charlie'], 'Subject': ['Math', 'Science', 'English'], 'Score': [85, 90, 78]}

# Nested Dictionary

In [4]:
# Dictionary with names as keys and subject-score pairs as values
scores = {
    "Alice": {"Math": 85, "Science": 90, "English": 78},
    "Bob": {"Math": 92, "Science": 88, "English": 81},
    "Charlie": {"Math": 76, "Science": 95, "English": 89}
}

print(scores)

{'Alice': {'Math': 85, 'Science': 90, 'English': 78}, 'Bob': {'Math': 92, 'Science': 88, 'English': 81}, 'Charlie': {'Math': 76, 'Science': 95, 'English': 89}}