In [1]:
# Q1
print("Welcome to Data Science!")

name = "Kaylah"          
age = 21                
height = 1.68           

print(type(name))
print(type(age))
print(type(height))

age_float = float(age)
print("Age as float:", age_float)

Welcome to Data Science!
<class 'str'>
<class 'int'>
<class 'float'>
Age as float: 21.0

In [2]:
#Q2
first_name = input("Enter your first name: ")
fav_number = input("Enter your favorite number: ")

print(f"Hello {first_name}, your favorite number is {fav_number}!")

fav_number_int = int(fav_number)
square = fav_number_int ** 2

print(f"The square of your favorite number is {square}.")

Enter your first name:  Kaylah
Enter your favorite number:  5

Hello Kaylah, your favorite number is 5!
The square of your favorite number is 25.

In [3]:
#Q3
s = "Intro to Data"

char_list = list(s)

print("s:", s, type(s))
print("char_list:", char_list, type(char_list))

first_4 = s[:4]
last_3 = s[-3:]
print("First 4 characters:", first_4)
print("Last 3 characters:", last_3)

char_list.append("Python")
print("Updated char_list:", char_list)

s: Intro to Data <class 'str'>
char_list: ['I', 'n', 't', 'r', 'o', ' ', 't', 'o', ' ', 'D', 'a', 't', 'a'] <class 'list'>
First 4 characters: Intr
Last 3 characters: ata
Updated char_list: ['I', 'n', 't', 'r', 'o', ' ', 't', 'o', ' ', 'D', 'a', 't', 'a', 'Python']

In [4]:
#Q4

n = int(input("Enter an initial number: "))

while n <= 200:
    if n == 40:
        n *= 2
        continue 
    if n == 160:
        print("Stopping loop at value 160.")
        break
    print("Current value:", n)
    n *= 2

Enter an initial number:  3

Current value: 3
Current value: 6
Current value: 12
Current value: 24
Current value: 48
Current value: 96
Current value: 192

In [5]:
#Q5

import numpy as np

arr = np.arange(1, 21)
print("Original array:", arr)

print("First 5 elements:", arr[:5])

print("Reversed array:", arr[::-1])

arr[arr % 2 == 0] = 0
print("Array with even numbers replaced by 0:", arr)

Original array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
First 5 elements: [1 2 3 4 5]
Reversed array: [20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1]
Array with even numbers replaced by 0: [ 1  0  3  0  5  0  7  0  9  0 11  0 13  0 15  0 17  0 19  0]