# <font color="purple">Practice Sheet - Review Project 1 (Part I) </font>
 **-- Dr. Meenakshi Nerolu**
* Conditional Statemtnts
* Input and Output in Python
* Data Types
    * Strings
        * Concatenation
        * Slicing
        * String Methods 
    * Lists
        * Access List Items
        * Change List Items
        * Add List Items
        * Sort, copy, join
        * List Methods 
    * Tuples
    * Dictionaries
        * Access Items
        * Change Items
        * Add, Remove and Copy Items
        * Nested Dictionary
        * Dictionary Methods 
* Types and Type Conversion
* Introduction to Python
    * Markdown and Code Cells  
* Introduction to Data Science
    * Basic Components of Data Science
    * 5 w's

#### Creating a Dictionary

In [ ]:
student={"name":"alex","age":20}
print(student)

#### Add new key-value pair

In [ ]:
#Add new key-value pair
student['major']='biology'
print(student)

In [4]:
student={'name':'Alex','age':20}
student['major']='Biology'
print(student)

{'name': 'Alex', 'age': 20, 'major': 'Biology'}

In [5]:
student.pop('age')
print(student)

{'name': 'Alex', 'major': 'Biology'}

In [7]:
student1={'name':'James','class':'Biology','score':80}
student2={'name':'Ally','class':'Data Science','score':100}
student3={'name':'Pay','class':'Physics','score':92}
print(student1, student2, student3)

{'name': 'James', 'class': 'Biology', 'score': 80} {'name': 'Ally', 'class': 'Data Science', 'score': 100} {'name': 'Pay', 'class': 'Physics', 'score': 92}

In [9]:
data={'Name':['James','Ally','Pay'],
      'Subject':['Math','Physics','Chem'],
      'Score':[95,80,85]}
print(data)

{'Name': ['James', 'Ally', 'Pay'], 'Subject': ['Math', 'Physics', 'Chem'], 'Score': [95, 80, 85]}

In [10]:
scores={"Alice":{"Math":85, "Science":90,"English":78},
        "Bob":{"Math":92, "Science":88,"English":81},
        "Charlie":{"Math":76, "Science":95,"English":89},
       }
print(scores)

{'Alice': {'Math': 85, 'Science': 90, 'English': 78}, 'Bob': {'Math': 92, 'Science': 88, 'English': 81}, 'Charlie': {'Math': 76, 'Science': 95, 'English': 89}}

#### Update Existing Value

In [ ]:
#Update Existing value
student['age']=21
print(student)

---
#### Remove Items

In [ ]:
# Remove a key
del student['age']
#The pop() method removes the item with the specified key name:
#student.pop("age")
print(student)

---
Create a Python dictionary that stores the scores of 3 students in 3 different subjects. Each student’s name should be the key, and the value should be another dictionary containing the subjects and their corresponding scores.
#### Creating Dictionary with lists

In [ ]:
#Dictionary with Lists
data={"Name":["Alice","Bob","Charlie"],
     "Subject":["Math","Science","English"],
     "Score":[85,90,78]}
print(data)

#### Nested Dictionary

In [ ]:
scores={"Alice":{"Math":85, "Science":90,"English":78},
        "Bob":{"Math":92, "Science":88,"English":81},
        "Charlie":{"Math":76, "Science":95,"English":89},
       }
print(scores)

---
**Copy Dictionaries: Make a copy of a dictionary with the `copy()` method:**

In [ ]:
data_new= data.copy()
print(data_new)

---
**The `keys()` method will return a list of all the keys in the dictionary.**

In [ ]:
student.keys()

---
**The `values()` method will return a list of all the values in the dictionary.**

In [ ]:
student.values()

---
### Strings
* Strings
    * Concatenation
    * Slicing
    * Modify
    * String Methods
    * Format
    * String Methods

Create two strings “Introduction to” and “Data Science”

In [ ]:
string1="Introduction to"
string2="Data Science"

In [ ]:
concat=string1+string2
print(concat)

In [ ]:
concat=string1+" "+string2
print(concat)

Convert the string `"Introduction to Data Dcience"` into **title case**, **uppercase**, and **lowercase**.

In [ ]:
#first letter of every word is capitalized
concat.title()

In [ ]:
#The upper() method returns the string in upper case
concat.upper()

In [ ]:
#The lower() method returns the string in lower case
concat.lower()

In [ ]:
#Removes any white space
trial.strip()

### Slicing

**Create a string “Data Science”**

In [ ]:
string="Data Science"

In [ ]:
print(string[1:5])