# Project 2 Preparation
## Kaylah Benton <br> Group 5 
### Title of Project: SocioEconomic Factors and Life Expectancy
Link to Dataset: https://www.kaggle.com/datasets/mjshri23/life-expectancy-and-socio-economic-world-bank?resource=download

In [1]:
# Import libraries
import numpy as np
import pandas as pd

# Load your dataset 
df = pd.read_csv('life_expectancy.csv')

(df.head())

,Country Name,Country Code,Region,IncomeGroup,Year,Life Expectancy World Bank,Prevelance of Undernourishment,CO2,Health Expenditure %,Education Expenditure %,Unemployment,Corruption,Sanitation,Injuries,Communicable,NonCommunicable
0,Afghanistan,AFG,South Asia,Low income,2001,56.308,47.8,730.0,NaN,NaN,10.809000,NaN,NaN,2179727.10,9689193.70,5795426.38
1,Angola,AGO,Sub-Saharan Africa,Lower middle income,2001,47.059,67.5,15960.0,4.483516,NaN,4.004000,NaN,NaN,1392080.71,11190210.53,2663516.34
2,Albania,ALB,Europe & Central Asia,Upper middle income,2001,74.288,4.9,3230.0,7.139524,3.4587,18.575001,NaN,40.520895,117081.67,140894.78,532324.75
3,Andorra,AND,Europe & Central Asia,High income,2001,NaN,NaN,520.0,5.865939,NaN,NaN,NaN,21.788660,1697.99,695.56,13636.64
4,United Arab Emirates,ARE,Middle East & North Africa,High income,2001,74.544,2.8,97200.0,2.484370,NaN,2.493000,NaN,NaN,144678.14,65271.91,481740.70

In [2]:
df

,Country Name,Country Code,Region,IncomeGroup,Year,Life Expectancy World Bank,Prevelance of Undernourishment,CO2,Health Expenditure %,Education Expenditure %,Unemployment,Corruption,Sanitation,Injuries,Communicable,NonCommunicable
0,Afghanistan,AFG,South Asia,Low income,2001,56.308,47.8,730.000000,NaN,NaN,10.809000,NaN,NaN,2179727.10,9689193.70,5795426.38
1,Angola,AGO,Sub-Saharan Africa,Lower middle income,2001,47.059,67.5,15960.000000,4.483516,NaN,4.004000,NaN,NaN,1392080.71,11190210.53,2663516.34
2,Albania,ALB,Europe & Central Asia,Upper middle income,2001,74.288,4.9,3230.000000,7.139524,3.45870,18.575001,NaN,40.520895,117081.67,140894.78,532324.75
3,Andorra,AND,Europe & Central Asia,High income,2001,NaN,NaN,520.000000,5.865939,NaN,NaN,NaN,21.788660,1697.99,695.56,13636.64
4,United Arab Emirates,ARE,Middle East & North Africa,High income,2001,74.544,2.8,97200.000000,2.484370,NaN,2.493000,NaN,NaN,144678.14,65271.91,481740.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3301,Vanuatu,VUT,East Asia & Pacific,Lower middle income,2019,70.474,12.4,209.999993,3.360347,1.77788,1.801000,3.0,NaN,12484.18,26032.56,69213.56
3302,Samoa,WSM,East Asia & Pacific,Lower middle income,2019,73.321,4.4,300.000012,6.363094,4.70625,8.406000,4.0,47.698788,6652.84,9095.19,43798.62
3303,South Africa,ZAF,Sub-Saharan Africa,Upper middle income,2019,64.131,6.3,439640.014648,9.109355,5.91771,28.469999,NaN,NaN,3174676.10,13198944.71,10214261.89
3304,Zambia,ZMB,Sub-Saharan Africa,Low income,2019,63.886,NaN,6800.000191,5.312203,4.46518,12.520000,2.5,NaN,510982.75,4837094.00,2649687.82
3305,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2019,61.490,NaN,11760.000229,7.703565,NaN,4.833000,2.5,25.963544,644798.93,4187087.31,2364031.48

In [3]:
# Shape of the dataset
print("Shape of data (rows, columns):", df.shape)

Shape of data (rows, columns): (3306, 16)

In [4]:
# General summary of the dataset 
print("\nInfo about dataset:")
print(df.info())

Info about dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3306 entries, 0 to 3305
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country Name                    3306 non-null   object
 1   Country Code                    3306 non-null   object
 2   Region                          3306 non-null   object
 3   IncomeGroup                     3306 non-null   object
 4   Year                            3306 non-null   int64
 5   Life Expectancy World Bank      3118 non-null   float64
 6   Prevelance of Undernourishment  2622 non-null   float64
 7   CO2                             3154 non-null   float64
 8   Health Expenditure %            3126 non-null   float64
 9   Education Expenditure %         2216 non-null   float64
 10  Unemployment                    3002 non-null   float64
 11  Corruption                      975 non-null    float64
 12  Sanitation                      2059 non-null   float64
 13  Injuries                        3306 non-null   float64
 14  Communicable                    3306 non-null   float64
 15  NonCommunicable                 3306 non-null   float64
dtypes: float64(11), int64(1), object(4)
memory usage: 413.4+ KB
None

In [5]:
# First few rows to preview data
print("\nPreview of data:")
print(df.head())

Preview of data:
           Country Name Country Code                      Region  \
0           Afghanistan          AFG                  South Asia
1                Angola          AGO          Sub-Saharan Africa
2               Albania          ALB       Europe & Central Asia
3               Andorra          AND       Europe & Central Asia
4  United Arab Emirates          ARE  Middle East & North Africa

           IncomeGroup  Year  Life Expectancy World Bank  \
0           Low income  2001                      56.308
1  Lower middle income  2001                      47.059
2  Upper middle income  2001                      74.288
3          High income  2001                         NaN
4          High income  2001                      74.544

   Prevelance of Undernourishment      CO2  Health Expenditure %  \
0                            47.8    730.0                   NaN
1                            67.5  15960.0              4.483516
2                             4.9   3230.0              7.139524
3                             NaN    520.0              5.865939
4                             2.8  97200.0              2.484370

   Education Expenditure %  Unemployment  Corruption  Sanitation    Injuries  \
0                      NaN     10.809000         NaN         NaN  2179727.10
1                      NaN      4.004000         NaN         NaN  1392080.71
2                   3.4587     18.575001         NaN   40.520895   117081.67
3                      NaN           NaN         NaN   21.788660     1697.99
4                      NaN      2.493000         NaN         NaN   144678.14

   Communicable  NonCommunicable
0    9689193.70       5795426.38
1   11190210.53       2663516.34
2     140894.78        532324.75
3        695.56         13636.64
4      65271.91        481740.70

In [6]:
# Summary statistics for numerical columns
print("\nSummary statistics:")
print(df.describe())

Summary statistics:
              Year  Life Expectancy World Bank  \
count  3306.000000                 3118.000000
mean   2010.000000                   69.748362
std       5.478054                    9.408154
min    2001.000000                   40.369000
25%    2005.000000                   63.642000
50%    2010.000000                   72.168500
75%    2015.000000                   76.809000
max    2019.000000                   84.356341

       Prevelance of Undernourishment           CO2  Health Expenditure %  \
count                     2622.000000  3.154000e+03           3126.000000
mean                        10.663654  1.574924e+05              6.364059
std                         11.285897  7.726415e+05              2.842844
min                          2.500000  1.000000e+01              1.263576
25%                          2.500000  2.002500e+03              4.205443
50%                          6.200000  1.020500e+04              5.892352
75%                         14.775000  5.877250e+04              8.119166
max                         70.900000  1.070722e+07             24.230680

       Education Expenditure %  Unemployment  Corruption   Sanitation  \
count              2216.000000   3002.000000  975.000000  2059.000000
mean                  4.589014      7.890760    2.860513    52.738785
std                   2.119165      6.270832    0.621343    30.126762
min                   0.850320      0.100000    1.000000     2.377647
25%                   3.136118      3.733000    2.500000    24.746007
50%                   4.371465      5.920000    3.000000    49.317481
75%                   5.519825     10.097500    3.250000    80.278847
max                  23.270000     37.250000    4.500000   100.000004

           Injuries  Communicable  NonCommunicable
count  3.306000e+03  3.306000e+03     3.306000e+03
mean   1.318219e+06  4.686289e+06     7.392488e+06
std    5.214068e+06  1.843727e+07     2.932688e+07
min    4.304900e+02  3.301600e+02     2.481820e+03
25%    6.245688e+04  5.776475e+04     3.184758e+05
50%    2.456910e+05  3.147693e+05     1.350146e+06
75%    8.465591e+05  2.831636e+06     3.918468e+06
max    5.563676e+07  2.685646e+08     3.246378e+08

In [7]:
# Summary statistics for categorical columns (object types)
print("\nSummary of categorical data:")
print(df.describe(include=['object']))

Summary of categorical data:
       Country Name Country Code                 Region  IncomeGroup
count          3306         3306                   3306         3306
unique          174          174                      7            4
top     Afghanistan          AFG  Europe & Central Asia  High income
freq             19           19                    893         1083

In [8]:
# Check for missing values in each column
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Country Name                         0
Country Code                         0
Region                               0
IncomeGroup                          0
Year                                 0
Life Expectancy World Bank         188
Prevelance of Undernourishment     684
CO2                                152
Health Expenditure %               180
Education Expenditure %           1090
Unemployment                       304
Corruption                        2331
Sanitation                        1247
Injuries                             0
Communicable                         0
NonCommunicable                      0
dtype: int64